{% extends 'base.html' %}
 
{% block content %}
	{{ super() }}
	{{ post | safe}}
{% endblock %}

<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur omnis dolores magni optio accusamus consectetur eligendi, quasi mollitia totam porro suscipit minus! Quidem itaque quos consequatur quisquam amet dolorum eaque aliquid ad optio molestias! Doloribus nulla illo fugiat ea laborum velit labore aliquam quia adipisci molestias, dicta eaque enim reprehenderit dolores qui porro aut necessitatibus repellendus, fugit quasi, quas esse. Quibusdam, maiores, rem similique tenetur quisquam dolores quo excepturi asperiores exercitationem cumque ipsam sapiente facilis omnis, laboriosam eligendi architecto iure consequatur ipsum minus tempore suscipit nam culpa. Doloribus ut sequi sit deserunt. Esse aperiam blanditiis veniam saepe. Quasi, aspernatur culpa.</p>

<p align=center><img width=623 heigth=327 id="Рисунок 1" src="/static/image/image001.jpg" alt=""></p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At amet officia quo enim nulla quibusdam numquam mollitia nihil deleniti quas. Deserunt, voluptatum totam provident illo officia commodi, saepe soluta minus accusantium fugit necessitatibus, quam asperiores earum ex obcaecati repellat. Maiores, perferendis! Minima voluptate quae quia odit nemo odio harum inventore.</p>

<p align=center><img width=623 heigth=291 id="Рисунок 2" src="/static/image/image002.jpg" alt=""></p>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis enim mollitia labore. Cumque nisi atque perferendis, quaerat ex ea quae unde corrupti delectus. Voluptatem, totam error deleniti cum eius nihil?</p>

<p align=center><img width=623 heigth=291 id="Рисунок 3" src="/static/image/image003.jpg" alt=""></p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum doloremque, commodi modi neque corrupti omnis perferendis quasi ut obcaecati hic molestias, reprehenderit saepe odio fugit. Corporis nihil obcaecati distinctio labore sit harum sunt aperiam natus aliquam ipsum voluptatibus laudantium veniam, nesciunt molestiae vel, officia fuga facilis voluptatem dolor eligendi atque temporibus rem. Sunt veniam voluptas enim est, illo commodi eum.</p>

<p align=center><img width=623 heigth=291 id="Рисунок 4" src="/static/image/image004.jpg" alt=""></p> -->